body {
    font-family: 'Comic Sans MS', 'Courier New', Courier, monospace;
    text-align: center;
    background: linear-gradient(180deg, #87ceeb 0%, #f0e68c 100%);
    margin: 0;
    padding: 0;
}

.title {
    font-size: 3em;
    color: #ffcc00;
    text-shadow: 2px 2px 8px #333;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#board {
    display: block;
    margin: 0 auto;
    border: 5px solid #FFD700;
    border-radius: 20px;
    box-shadow: 0 0 30px #333;
    background-image: url(backgroundimage.png);
    background-size: cover;
}

footer {
    display: flex;
    align-items: center ;
    justify-content: center;
    color: #333;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #fff;
    padding-top:auto;
}